

figure{

  position: relative;

  margin: 0;

  background-color: $white;

  overflow: hidden;
}

figure > img{
  opacity: 1;

  // animationsur le mouse leave
  transition: opacity 0.2s 0.2s;
}

figure:hover > img{
  opacity: 0.3;

  // animationsur le mouse enter
  transition: opacity 0.2s 0s;
}

figcaption{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: translateX(100%);

  transition: transform 0.2s 0s;
}

figure:hover figcaption{
  transform: translateX(0);

  //animation sur le mouse enter
  transition: transform 0.2s 0.2s;
}

@media screen and (min-width:$vw-medium) {

  main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  figure{
    width: 48%;
  }
}

@media screen and (min-width: $vw-huge){
  figure{
    width: 32%;
  }

  figure.premiere-image{
    width: 100%;
  }
}

